.warning {
    margin: 1% 6% 1% 6%;
    background-color: #F2DEDE;
    font-size: 17px;
    border-radius: 10px;
}
.warning p {
    padding: 15px;
    color: #A94543;
    margin-left: 10px;
}
.warning p a {
    text-decoration: none;
    color: #A94543;
}
.warning p b {
    margin-right: 10px;
}

.home{
    width: 100%;
}
.home .mh{
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color: rgb(85, 85, 85);
}

.home .mh h1{
    font: bold 4.6em "Fira Sans", serif;
    -webkit-text-stroke: 3px  rgb(0, 0, 0);
    margin-bottom: -4%;
    margin-top: 50px;
}
.home .mh h4{
    font: bold 1.1em "Fira Sans", serif;
    text-align: right;
    margin-right: 20px;
}
.home .mh a{
    text-decoration: none !important;
    color: black !important;
}
.button{
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: Transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color:  rgb(85, 85, 85); /* Green */
    color: white;
  }