.blog{

    height: 100%;
    /* background: yellow; */
    margin: 0%;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.warning {
    background-color: #F2DEDE;
    font-size: 17px;
    border-radius: 10px;
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.warning p {
    padding: 15px;
    color: #A94543;
    margin-left: 10px;
}

.warning p a {
    text-decoration: none;
    color: #A94543;
}

.warning p b {
    margin-right: 10px;
}

.home {
    width: 100%;
}

.home .mh {
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(85, 85, 85);
    margin-bottom: 2%;
}

.home .mh h1 {
    font: bold 4.6em "Fira Sans", serif;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    margin-bottom: -4%;
    margin-top: 50px;
}

.home .mh h4 {
    font: bold 1.1em "Fira Sans", serif;
    text-align: right;
    margin-right: 20px;
}

.home .mh a {
    text-decoration: none !important;
    color: black !important;
}

.button {
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    letter-spacing: 1.5px;
    background-color: Transparent;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button:hover {
    background-color: rgb(85, 85, 85);
    /* Green */
    color: white;
}

.home .social {
    margin: 24px 0 !important;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.home .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

.home .social li a {
    color: #fff;
}

.home .social li a:hover {
    color: #11ABB0;
}
.quote{
    margin-top: 100px;
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.quote p{
    text-align: right;
}
.soc-panel{
    width: 100%;
    margin-top: 100px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.link{
    text-decoration: none;
    cursor: pointer;

}