@media screen and (max-width: 450px){

    .warning p {
        padding: 10px 5px;
        color: #A94543;
        margin-left: 10px;
        font-size: .5em;
    }

    .home .mh h1{
    font: bold 50px "Fira Sans", serif;
    letter-spacing: 1.5px;
    margin-top: -2px;
    }

    .home .mh h4{
        text-align: center !important;

    }
    .home .button{
        font-size: 18px !important;
    }
    .quote{
        margin-top: 50px;
        font-size: 15px !important;
        width: fit-content;
        width: -moz-fit-content;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    .quote p{
        text-align: center;
    }
    .social li{
        font-size: 15px !important;
    }
} 