@media screen and (max-width: 750px){

    .home .mh h1{
        font: bold 60 "Fira Sans", serif;
        letter-spacing: 1.5px;
    }
    .home .mh h4{
        text-align: center !important;

    }
    .home .button{
        font-size: 20px !important;
    }
    .quote{
        margin-top: 50px;
        width: fit-content;
        width: -moz-fit-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .quote p{
        text-align: center;
    }
    .social li{
        font-size: 17px;
    }
}